# Part 1

## 1 Identify data

In [8]:
user_id = '32415'
user_name = ' mike_reed '
user_age = 32.0
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

<div class="alert alert-block alert-info">
<b>Conclusion</b> <a class="tocSkip"></a>

1. The user_id field could be both int or string; in this case string should be fine.  
2. There are unnecessary spaces in the user_name field.  
3. user_age should be int instead of float.  
</div>

## 2 Correct data

In [9]:
print(f"La cadena sin modificar tiene {len(user_name)} caracteres") #Muestro la cantidad de caracteres que contiene la variable antes de corregir
user_name = user_name.strip() #Elimino los espacios al inicio y al final
user_name = user_name.replace('_', ' ') #reemplazo los guiones bajos por espacios
print(f"La cadena modificada tiene {len(user_name)} caracteres") #Muestro la cantidad de caracteres que contiene la variable despues de ser modificada
print(user_name) #Muestro el resultado final con el formato (nombre apellido)
user_age = int(user_age) #Convierto la variable user_age a entero
type(user_age) #Verifico que el tipo de dato sea entero

La cadena sin modificar tiene 11 caracteres
La cadena modificada tiene 9 caracteres
mike reed

int

<div class="alert alert-block alert-info">
<b>Conclusion</b> <a class="tocSkip"></a>

Corrected data types and formats
</div>

## 3 Exercise

Split the updated `user_name` into two substrings to obtain a list containing two values: the string for the first name and the string for the last name.

In [10]:
name_split = user_name.split()# divide aquí el string user_name
print(name_split)
name = name_split[0].capitalize() # capitaliza el nombre
surname = name_split[1].capitalize() # capitaliza el apellido
print(name)
print(surname)

['mike', 'reed']
Mike
Reed

<div class="alert alert-block alert-info">
<b>Conclusion</b> <a class="tocSkip"></a>

Used the function `split()` to separate different words by dafult it uses the space as separator.  
The function `capitalize()` is used to match a name format.  
Assigned the splited array to `name` and `surname`.
</div>

## 4 Exercise

As we know, data is not always perfect. We must consider scenarios in which the value of `user_age` cannot be converted into an integer. To prevent our system from crashing, we need to take measures in advance.

Write code that attempts to convert the variable `user_age` into an integer and assigns the transformed value to user_age_int. If the attempt fails, we display a message asking the user to provide their age as a numerical value with the message: **Please provide your age as a numerical value.**

In [11]:
user_age = 'treinta y dos' # aquí está la variable que almacena la edad como un string.
# escribe un código que intente transformar user_age en un entero y si falla, imprime el mensaje especificado
try: #Inicio de la secuencia try para detectar errores
    user_age_int = int(user_age) #Transforma la edad ingresada a entero
except: #si es que no puede transformar la edad ingresada a entero
    print('Please provide your age as a numerical value.') #Se imprime la condicion

Please provide your age as a numerical value.

## 5 Exercise

Finally, consider that all favorite categories are stored in uppercase. To populate a new list called fav_categories_low with the same categories but in lowercase, iterate through the values in the fav_categories list, modify them, and add the new values to the fav_categories_low list. As always, display the final result.

In [13]:
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
fav_categories_low = []

# escribe tu código aquí
for categoria in fav_categories: #accedo a fav_categories mediante el bucle for
    fav_categories_low.append(categoria.lower()) #agrego a la nueva lista las mismas categorias pero transformadas a minuscula
# no elimines la siguiente declaración print
print(fav_categories_low)

['electronics', 'sport', 'books']

## 6 Exercise

We have obtained additional information about the spending habits of our users, including the amount spent in each of their favorite categories. Management is interested in the following metrics:

- Total amount spent by the user.

- Minimum amount spent.

- Maximum amount spent.

Let’s calculate these values and display them on the screen:

In [15]:
fav_categories_low = ['electronics', 'sport', 'books']
spendings_per_category = [894, 213, 173]

total_amount = sum(spendings_per_category)# suma de todos los valores de spendings_per_category
max_amount = max(spendings_per_category)# maximo de los valores de spendings_per_category
min_amount = min(spendings_per_category)# minimo de los valores de spendings_per_category

# no elimines la siguiente declaración print
print('Total amount spent by the user: ', total_amount)
print('Maximum amount spent in a category: ', max_amount)
print('Minimum amount spent in a category: ', min_amount)

Total amount spent by the user:  1280
Maximum amount spent in a category:  894
Minimum amount spent in a category:  173

## 7 Exercise

The company wants to offer discounts to its loyal customers. Customers who make purchases totaling more than $1500 are considered loyal and will receive a discount.

Our goal is to create a `while` loop that checks the total amount spent and stops once that amount is reached. To simulate new purchases, the variable `new_purchase` generates a number between 30 and 80 in each iteration of the loop. This represents the amount of money spent on a new purchase and should be added to the total.

Once the target amount is reached and the `while` loop finishes, the final amount will be displayed.

In [3]:
from random import randint

total_amount_spent = 1280
target_amount = 1500

while total_amount_spent < target_amount: # mientras no supere los 1500 se seguira repitiendo 
	new_purchase = randint(30, 80) # generamos un número aleatorio de 30 a 80
	total_amount_spent += new_purchase# sumar el valor de las nuevas compras al monto que ya se habia gastado

print(total_amount_spent)

1507

## 8 Exercise

Now we have all the information about a customer in the format we want. The company’s management asked us to propose a way to summarize all the information about a user. Your goal is to create a formatted string that uses information from the variables `user_id`, `user_name`, and `user_age`.

This is the final string we want to create:
`User 32415 is mike who is 32 years old.`

In [4]:
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32

user_info = "User {} is {} who is {} years old."#Creo un string dejando en llaves lo que seran variables

# no elimines la siguiente declaración print
print(user_info.format(user_id,user_name[0], user_age)) #asigno valor a las variables para imprimir el f string

User 32415 is mike who is 32 years old.

---

# Part 2
As you know, companies collect and store data in a particular way. Store 1 wants to store all the information about its customers in a table.


| user_id | user_name | user_age | purchase_category | spending_per_category |
| --- | --- | --- | --- | --- |
| '32415' | 'mike', 'reed' | 32 | 'electronics', 'sport', 'books' | 894, 213, 173 |
| '31980' | 'kate', 'morgan' | 24 | 'clothes', 'shoes' | 439, 390 |


In technical terms, a table is simply a nested list that contains one sublist for each user.

Store 1 has created such a table for its users. It is stored in the variable `users`. Each sublist contains the user’s ID, first and last name, age, favorite categories, and the amount spent in each category.

## 9 Exercise

To calculate the company’s revenue, follow these steps.

1. Use `for` to iterate over the `users` list.
2. Extract the list of expenses for each user and sum the values.
3. Update the revenue value with each user's total.

This way, you will obtain the company’s total revenue, which you will display on the screen at the end.

In [6]:
users = [
	  # este es el inicio de la primera sublista
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
        [894, 213, 173]
    ], # este es el final de la primera sublista

    # este es el inicio de la segunda sublista
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'shoes'],
        [439, 390]
    ] # este es el final de la segunda sublista
]

revenue = 0

for user in users:
	spendings_list = user[4]# extrae la lista de gastos de cada usuario o usuaria y suma los valores
	total_spendings = sum(spendings_list)# suma los gastos de todas las categorías para obtener el total de un usuario o una usuaria en particular
	revenue += total_spendings # actualiza los ingresos

print('The total revenue is: ',revenue)

The total revenue is:  2109

## 10 Exercise

Iterate through the list of users we provided and display the names of the customers who are under 30 years old.

In [8]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

for usuario in users: #recorro los usuarios a traves del for
    if usuario[2]  < 30: #establezco la condicion si es menor a 30 anios
        print(usuario[1][0], usuario[1][1] ) #imprimo la parte de la lista que contiene el nombre y apellido

kate morgan
samantha smith
emily brown
jose martinez
james lee

# 11 Exercise

Let’s combine tasks 9 and 10 and print the names of the users who are under 30 years old and have a total spending greater than 1000 dollars.

In [9]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]
    # escribe tu código aquí
for user in users: #recorro los usuarios a traves del for
    if user[2]  < 30 and sum(user[4]) > 1000: #compruebo si su edad es menor a 30 y si la suma de sus gastos es superior a 1000
        print(user[1][0], user[1][1]) #imprimo los nombres de los usuarios que cumplen las condiciones anteriores

samantha smith
james lee

# 12 Exercise

Now we are going to display the name and age of all users who have purchased clothing. Print the name and age in the same print statement.

In [10]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]


for user in users: #recorro los usuarios a traves del for
    for categoria in user[3]: #recorro los elementos de las categorias de cada usuario 
        if categoria == "clothes": #comparo si alguno compro ropa
            print(user[1][0], user[1][1], user[2]) #imprimo los nombres y edad de quienes hayan comprado ropa

kate morgan 24
samantha smith 29
maria garcia 33
lisa wilson 35
james lee 28